body {
    background-color: rgb(103, 202, 238);
    
}

#gameboard {
    height: 600px;
    width: 600px;
    margin-left: 25px;
    overflow: hidden;
    position: relative;
    cursor: crosshair;
    background-image: url(../images/ocean.jpeg);
}

#gameboard:active {
    cursor: cell;
}

#object1 {
    position: absolute;
    transition: 0.5s;
    left: 10px;
    top: 450px;
    animation-name: first;
    animation-duration: 7s;
    animation-play-state: paused;
    animation-iteration-count: infinite;
}

#object1:hover {
    opacity: 0.7;
    filter: brightness(2);
    filter: hue-rotate(360deg);
}

#object1:active {
    filter: brightness(10);
}

#object2 {
    position: absolute;
    transition: 1s;
    left: 200px;
    top: 450px;
    animation-name: middle;
    animation-duration: 5s;
    animation-play-state: paused;
    animation-iteration-count: infinite;
}

#object2:hover {
    opacity: .7;
    filter: hue-rotate(360deg);
}

#object2:active {
    filter: brightness(10);
}

#object3 {
    position: absolute;
    transition: 1s;
    left: 400px;
    top: 450px;
    animation-name: last;
    animation-duration: 9s;
    animation-play-state: paused;
    animation-iteration-count: infinite;
}

#object3:hover {
    opacity: .7;
    filter: hue-rotate(360deg);
}

#object3:active {
    filter: brightness(10);
}

#object4 {
    position: absolute;
    transition: 1s;
    left: -150px;
    top: 100px;
    animation-name: rainbow;
    animation-duration: 13s;
    animation-play-state: paused;
    animation-iteration-count: infinite;
}

#object4:hover {
    opacity: .7;
    filter: hue-rotate(360deg);
}

#object4:active {
    filter: brightness(10);
}

@keyframes first{
    0% {margin-top: 0px;}
    10% {margin-top: 0px;}
    20% {margin-top: -300px; margin-left: -20px;}
    30% {margin-top: -200px; margin-left: 10px;}
    40% {margin-top: -350px;}
    50% {margin-top: -0px;}
    60% {margin-top: -450px; margin-left: 40px;}
    70% {margin-top: -250px; margin-left: -10px;}
    80% {margin-top: -350px; margin-left: 20px;}
    90% {margin-top: 0px;}
    100% {margin-top: 0px;}
}

@keyframes first2{
    0% {margin-top: 0px;}
    10% {margin-top: 0px;}
    20% {margin-top: -300px; margin-left: -20px;}
    30% {margin-top: -200px; margin-left: 10px;}
    40% {margin-top: -350px;}
    50% {margin-top: -0px;}
    60% {margin-top: -450px; margin-left: 40px;}
    70% {margin-top: -250px; margin-left: -10px;}
    80% {margin-top: -350px; margin-left: 20px;}
    90% {margin-top: 0px;}
    100% {margin-top: 0px;}
}

@keyframes middle{
    0% {margin-top: 0px;}
    10% {margin-top: 0px;}
    20% {margin-top: -300px; margin-left: 20px;}
    30% {margin-top: -200px; margin-left: -10px;}
    40% {margin-top: -250px; margin-left: 20px;}
    50% {margin-top: -400px;}
    60% {margin-top: -0px; margin-left: 40px;}
    70% {margin-top: -0px; margin-left: -50px;}
    80% {margin-top: -500px; margin-left: 30px;}
    90% {margin-top: -400px;}
    100% {margin-top: 0px;}
}

@keyframes last{
    0% {margin-top: 0px;}
    10% {margin-top: -400px; margin-left: -30px;}
    20% {margin-top: -100px; margin-left: 20px;}
    30% {margin-top: -350px; margin-left: -20px;}
    40% {margin-top: -0px; margin-left: 50px;}
    50% {margin-top: -0px;}
    60% {margin-top: -300px; margin-left: 30px;}
    70% {margin-top: -380px; margin-left: -40px;}
    80% {margin-top: -450px; margin-left: 40px;}
    90% {margin-top: -250px;}
    100% {margin-top: 0px;}
}

@keyframes rainbow{
    0% {margin-top: -200px; margin-left: 100px;}
    10% {margin-bottom: 700px; margin-left: 300px;}
    20% {margin-top: -400px; margin-left: 500px;}
    30% { margin-bottom: 500px;  margin-left: 400px;}
    40% {margin-top: -100px; margin-left: 50px;}
    50% {margin-bottom: 600px; margin-left: 500px; }
    60% {margin-top: 300px; margin-left: 300px;}
    70% { margin-bottom: 200px; margin-left: 100px;}
    80% { margin-top: 0px; margin-left: 600px;}
    90% {margin-top: -300px; margin-left: 1000px;}
    100% {margin-top: -200px; margin-left: 100px;}
}

#boxes {
    position: absolute;
    width: 580px;
    left: 0px;
    top: 355px;
    width: 100%;
    
}

#score {
    position: absolute;
    height: 170px;
    width: 270px;
    position: fixed;
    top: 600px;
    left: 180px;
    padding: 1px 20px;
    color: white;
    font-size: 13px;
    background-color: rgb(39, 61, 149);
    border-radius: 50%;
    font-family: "baileywick-jf-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 5px 5px 5px #004376;
}

h3 {
    margin-top: 45px;
    margin-left: 10px;
}
h2 {
    margin-left: 10px;
}

#triangle-right {
    z-index: -1;
    position: relative;
    width: 0px;
    height: 0px;
    border-top: 70px solid transparent;
    border-left: 120px solid rgb(39, 61, 149);
    border-bottom: 70px solid transparent;
    margin-left: 90px;
    margin-top: 5px;
    
}

#endscreen {
    height: 600px;
    width: 600px;
    margin-left: 25px;
    position: absolute;
    top:8px;
    background-color: rgb(103, 202, 238);
    display: none;
    
}

#endtext {
    font-family: "baileywick-jf-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgb(39, 61, 149);
    margin: auto;
    margin-top: 50px;
    text-align: center;
    width: 80%;
}

#endimage {
    margin: auto;
    width: 45%;
    margin-left: 160px;
    margin-top: 20px;
}